<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/pure-min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bbs.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/basic.css') }}">
    {% block css %}{% endblock %}

    <script src="/static/js/jquery-3.0.0.min.js"></script>
    {% block script %}{% endblock %}
</head>
<body>
    <nav id="id-nav">
        <a class="gua-nav-link gua-active" href="/node">首页</a>
        <a class="gua-nav-link" href="{{ url_for('user.login_view') }}">注册</a>
        <a class="gua-nav-link" href="{{ url_for('user.login_view') }}">登录</a>
        <a class="gua-nav-link" href="{{ url_for('user.logout') }}">登出</a>
        <a class="gua-nav-link gua-right" href="{{ url_for('user.profile') }}">个人主页</a>
        <a class="gua-nav-image gua-right" href="/user/profile">
            <img class="gua-avatar" src="/static/img/default.jpg">
            <span style="display: none" id="id-span-current-user" data-id="147" data-is_admin="false" data-username="宇宙无敌奥特曼" data-qq="540380798" data-email="540380798@qq.com" data-avatar="/uploads/avatar/147.jpg"></span>
        </a>
    </nav>

    <div class="main">
        <div class="sidebar">
            <ul id="id-ul-board">
                <a href="/topic/new">发布新帖子</a>
                {% block sidebar %}
                {% endblock %}
            </ul>
        </div>
        {% block content %}
        {% endblock %}
    </div>

    <div class="bbs-bottom">
        <div class="bbs-bottom-content bbs-content-size">
            <div class="bbs-bottom-nav">
                <a href="#">关于</a>
                <span>&nbsp;·&nbsp;</span>
                <a href="#">FAQ</a>
                <span>&nbsp;·&nbsp;</span>
                <a href="#">鸣谢</a>
                <span>&nbsp;·&nbsp;</span>
                <a href="#">7人在线</a>
            </div>
            <div class="bbs-bottom-about">
                创意工作者们的社区<br>World is powered by solitude
            </div>
        </div>
    </div>
</body>
</html>
