{% extends "base.html" %}

{% block title %}
    {{ user.username }} 的个人资料
{% endblock %}

{% block content %}
<div class="pure-g gua-main">
    <div class="pure-u-3-4 gua-center">
        <div class="gua-block">
            <img class="gua-avatar" src="{{ user.avatar }}">
            <div>
                <!-- <div>
                    <form class="pure-form" action="/avatar/add" method="post" enctype="multipart/form-data">
                        选择头像：
                        <input name="file" accept="image/*" type="file">
                        <input value="上传" type="submit">
                    </form>
                </div> -->
                <div>
                  <form action="/user/update_avatar" method="post">
                    头像地址：
                    <input name="avatar" value="{{ user.avatar }}" style="width:400px;">
                    <button>修改头像</button>
                  </form>
                </div>
                <div>
                    <form method="post" action="/user/update_username">
                        <label for="username">用户名：</label>
                        <input value="{{ user.username }}" name="username" id="id-input-username">
                        <button id="id-button-modsignature">更新用户名</button>
                    </form>
                </div>
                <div>
                    <form action="/user/update_password" method="post">
                        <label for="password">重置密码：</label>
                        <input value="{{ user.password }}" name="password" placeholder="新密码" type="password">
                        <button type="submit">确定修改密码</button>
                    </form>
                </div>
            </div>
            <!-- <div>
                <a href="/questions/user/147">发帖列表 ： 2</a>
            </div>
            <div>回帖： 11</div> -->
        </div>
     </div>
</div>
{% endblock %}
