<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>login</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
        <script src="http://code.jquery.com/jquery-1.4.1.min.js"></script>
        <script src="{{ url_for('static', filename='js/login.js') }}"></script>
    </head>
    <body>
        <div class="lg-container">
            <div class="lg-main">
                <div class="lg-header">
                    <h1 class="title">登录</h1>
                    <h2>暂时开放注册</h2>
                </div>
                <div class="lg-form">
                    <div class="lg-tab">
                        <button id="id-tab-signup" type="button">注册</button>
                        <button id="id-tab-login" class="blue" type="button">登录</button>
                    </div>
                    <div id="id-div-login">
                        <form action="{{ url_for('.login') }}" method="post">
                            <div class="lg-form-textinput">
                                <div class="lg-input-wrapper">
                                    <input id="id-input-login-username" type="text" name="username" placeholder="用户名">
                                </div>
                                <div class="lg-input-wrapper">
                                    <input id="id-input-login-password" type="password" name="password" placeholder="密码">
                                </div>
                            </div>
                            <button id="id-button-login" class="button-big" type="submit">进入</button>
                        </form>
                    </div>
                    <div id="id-div-signup" class="none">
                        <form action="{{ url_for('.register') }}" method="post">
                            <div class="lg-form-textinput">
                                <div class="lg-input-wrapper">
                                    <input id="id-input-signup-username" type="text" name="username" placeholder="用户名(必须字母开头且不少于六位)">
                                </div>
                                <div class="lg-input-wrapper">
                                    <input id="id-input-signup-password" type="text" name="password" placeholder="密码(必须数字和字母组合且不少于六位)">
                                </div>
                            </div>
                            <button id="id-button-signup" class="button-big" type="submit">注册</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
